<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="w3.org/2001/XMLSchema-instance"
xmlns="xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="xmlns.jcp.org/xml/ns/javaee xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
 id="WebApp_ID" version="3.1">

	<servlet>
		<servlet-name>NormalizationRestServlet</servlet-name>
		<servlet-class>eu.europeana.normalization.rest.NormalizationRestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NormalizationRestServlet</servlet-name>
		<url-pattern>/normalize</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>normalization.language.target.vocabulary</param-name>
		<param-value>ISO_639_3</param-value>
	</context-param>
</web-app>
